In [3]:
url ='http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=WRvGBkn9UEtw%2BAsg0tYo210Etxvb1QEcAX%2BwfWvOxVGYJkh1CNZ%2FY4QFa0r7j4bhT4NjPu7z1i1ck8ZgsKMt2Q%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20210310&endCreateDt=20210515'

In [21]:
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36"}

In [7]:
import urllib.request 
import json 
import pandas as pd 
from pandas.io.json import json_normalize
import requests
import xml.etree.ElementTree as ET

In [10]:
#params ={'serviceKey': '서비스키', 'pageNo' : '1', 'numOfRows' : '10', 'startCreateDt' : '20200310', 'endCreateDt' : '20200315' }
r = requests.get(url, params=params)

In [12]:
root = ET.fromstring(r.text)

In [17]:
type(root)

xml.etree.ElementTree.Element

In [73]:
items = root.iter(tag='item')
total = []

for element in items:
    tmp_dict = dict()
    for x in element:
        tmp_dict[x.tag] = x.text
    total.append(tmp_dict)

In [74]:
df = pd.DataFrame(total)

In [75]:
df

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
0,1.421472325,9319093,9219877,7892,121270,2021-05-15 00:00:00.000,1896,131058,99216,9088819,482,20210515,00:00,2021-10-07 10:30:51.51
1,1.419288441,9281290,9186082,8100,120384,2021-05-14 00:00:00.000,1893,130377,95208,9055705,481,20210514,00:00,2021-10-07 10:30:51.51
2,1.416158717,9241152,9153635,7847,119892,2021-05-13 00:00:00.000,1891,129630,87517,9024005,480,20210513,00:00,2021-10-07 10:30:51.51
3,1.413966632,9201538,9117259,7671,119360,2021-05-12 00:00:00.000,1884,128915,84279,8988344,479,20210512,00:00,2021-10-07 10:30:51.51
4,1.412840025,9164283,9079655,7696,118706,2021-05-11 00:00:00.000,1879,128281,84628,8951374,478,20210511,00:00,2021-10-07 10:30:51.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,1.366772257,7066400,6996557,6565,87393,2021-03-14 00:00:00.000,1669,95627,69843,6900930,420,20210314,00:00,2021-10-07 10:30:51.51
63,1.36365193,7046781,6978907,6888,86613,2021-03-13 00:00:00.000,1667,95168,67874,6883739,419,20210313,00:00,2021-10-07 10:30:51.51
64,1.363465187,7012663,6943925,7284,85732,2021-03-12 00:00:00.000,1662,94678,68738,6849247,418,20210312,00:00,2021-10-07 10:30:51.51
65,1.363346349,6976984,6908736,7873,84665,2021-03-11 00:00:00.000,1652,94190,68248,6814546,417,20210311,00:00,2021-10-07 10:30:51.51
66,1.364541999,6938883,6868605,7776,84301,2021-03-10 00:00:00.000,1648,93725,70278,6774880,416,20210310,00:00,2021-10-07 10:30:51.51

In [76]:
df['createDt'] = pd.to_datetime(df['createDt'])
df['stateDt'] = pd.to_datetime(df['stateDt'])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   accDefRate      67 non-null     object
 1   accExamCnt      67 non-null     object
 2   accExamCompCnt  67 non-null     object
 3   careCnt         67 non-null     object
 4   clearCnt        67 non-null     object
 5   createDt        67 non-null     datetime64[ns]
 6   deathCnt        67 non-null     object
 7   decideCnt       67 non-null     object
 8   examCnt         67 non-null     object
 9   resutlNegCnt    67 non-null     object
 10  seq             67 non-null     object
 11  stateDt         67 non-null     datetime64[ns]
 12  stateTime       67 non-null     object
 13  updateDt        67 non-null     object
dtypes: datetime64[ns](2), object(12)
memory usage: 7.5+ KB

In [78]:
df.isnull().sum()

accDefRate        0
accExamCnt        0
accExamCompCnt    0
careCnt           0
clearCnt          0
createDt          0
deathCnt          0
decideCnt         0
examCnt           0
resutlNegCnt      0
seq               0
stateDt           0
stateTime         0
updateDt          0
dtype: int64

In [79]:
df = df.sort_values(by=["stateDt"])

In [80]:
df[df.stateDt.duplicated()]

Empty DataFrame
Columns: [accDefRate, accExamCnt, accExamCompCnt, careCnt, clearCnt, createDt, deathCnt, decideCnt, examCnt, resutlNegCnt, seq, stateDt, stateTime, updateDt]
Index: []

In [81]:
df.query(''' stateDt >= "2020-10-01"''')

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
66,1.364541999,6938883,6868605,7776,84301,2021-03-10,1648,93725,70278,6774880,416,2021-03-10,00:00,2021-10-07 10:30:51.51
65,1.363346349,6976984,6908736,7873,84665,2021-03-11,1652,94190,68248,6814546,417,2021-03-11,00:00,2021-10-07 10:30:51.51
64,1.363465187,7012663,6943925,7284,85732,2021-03-12,1662,94678,68738,6849247,418,2021-03-12,00:00,2021-10-07 10:30:51.51
63,1.36365193,7046781,6978907,6888,86613,2021-03-13,1667,95168,67874,6883739,419,2021-03-13,00:00,2021-10-07 10:30:51.51
62,1.366772257,7066400,6996557,6565,87393,2021-03-14,1669,95627,69843,6900930,420,2021-03-14,00:00,2021-10-07 10:30:51.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1.412840025,9164283,9079655,7696,118706,2021-05-11,1879,128281,84628,8951374,478,2021-05-11,00:00,2021-10-07 10:30:51.51
3,1.413966632,9201538,9117259,7671,119360,2021-05-12,1884,128915,84279,8988344,479,2021-05-12,00:00,2021-10-07 10:30:51.51
2,1.416158717,9241152,9153635,7847,119892,2021-05-13,1891,129630,87517,9024005,480,2021-05-13,00:00,2021-10-07 10:30:51.51
1,1.419288441,9281290,9186082,8100,120384,2021-05-14,1893,130377,95208,9055705,481,2021-05-14,00:00,2021-10-07 10:30:51.51
0,1.421472325,9319093,9219877,7892,121270,2021-05-15,1896,131058,99216,9088819,482,2021-05-15,00:00,2021-10-07 10:30:51.51

In [82]:
df['decideCnt'] = df['decideCnt'].astype(int)

In [83]:
df['today_Cnt'] =  df['decideCnt'] - df['decideCnt'].shift(1)

In [84]:
df.today_Cnt

66      NaN
65    465.0
64    488.0
63    490.0
62    459.0
      ...
4     510.0
3     634.0
2     715.0
1     747.0
0     681.0
Name: todayCnt, Length: 67, dtype: float64

In [72]:
import numpy as np
type(np.NaN)

float